@model IEnumerable<HotelManagementSystem.Models.Booking>

@{
    ViewBag.Title = "Booking Request List";
}
<link href="~/Content/layout.css" rel="stylesheet" type="text/css" media="all">
<h2>Index</h2>



<div style="overflow-x:scroll; overflow-y:hidden">

    <table class="table">
        <tr>
            <th>
                Full Name
            </th>
            <th>
                Address
            </th>
            <th>
                Email
            </th>
            <th>
                Mobile
            </th>
            <th>
                Nid or Cr. Card No
            </th>
            <th>
                Arrival Time
            </th>
            <th>
                Departure Date
            </th>
            <th>
                Notes
            </th>
            <th>
                No of Adult
            </th>
            <th>
                Bedding Type
            </th>
            <th>
                No of Child
            </th>
            <th>
                Room Quantity
            </th>
            <th>
                Room Type
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NID_No)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArrivalTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartureDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adult.AdultId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BeddingType.BeddingTypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Child.ChildId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomQuantity.RoomQuantityId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomType.RoomTypeName)
                </td>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.BookingId }, new { @class = "btn" }) |
                        @Html.ActionLink("Details", "Details", new { id = item.BookingId }, new { @class = "btn" }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.BookingId }, new { @class = "btn" })
                    </td>
                }
            </tr>
        }

    </table>
</div>