@model IEnumerable<HotelManagementSystem.Models.BeddingType>

@{
    ViewBag.Title = "Index";
}
<link href="~/Content/layout.css" rel="stylesheet" type="text/css" media="all">
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BeddingTypeName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BeddingTypeName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.BeddingTypeId }) |
                @Html.ActionLink("Details", "Details", new { id = item.BeddingTypeId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.BeddingTypeId })
            </td>
        </tr>
    }

</table>
